*{
    font-style: "Montserrat", sans-serif;
    margin: 0;
}

#navbar-header{
    border-bottom: 1px solid rgb(151, 147, 147);
    height: 50px;
}

#navbar-header ul{
    display: block;
}
#navbar-header ul li{
    color: rgb(81, 79, 79);
    padding: 10px 20px;
    list-style: none;
}

#navbar-header ul li a{
    text-decoration: none;
    
}

#navbar-header ul li a :hover{
    color: rgb(52, 89, 198);
}
