
<!DOCTYPE html>
<html>
    <head>
        <title>MaxiShelf</title>
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>
    <body>
        <nav id="navbar-header">
            <div id="logo-nav"> 
                <img src="logo_maxi.png" alt="Logo">
                <h2>MaxiShelf</h2>
            </div>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="#produto">Produto</a></li>
                <li><a href="#depoimentos">Depoimentos</a></li>
                <li><a href="#contactos">Contactos</a></li>
                <li id="li-orcamento"><a href="#orcamento">Pedir Orçamento</a></li>
            </ul>
        </nav>
    </body>
</html>


