
    <html>
        <head>
            <title>MaaxiShelf</title>
        </head>
    <nav id="navbar-header">
        <div id="logo-nav"> 
        <img src="logo_maxi.png">
        <h2>MaxiShelf</h2>
        </div>
        <ul>
            <li><a> Home </a></li>
            <li><a> Sobre </a></li>
            <li><a> Produto </a></li>
            <li><a> Depoimentos </a></li>
            <li><a> Contactos </a></li>
            <li id="li-orcamento"><a> Pedir Orçamento</a></li>
        </ul>
    </nav>

    

</html>


